@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --color-text-light: #1f2937; /* gray-900 */
  --color-text-dark: #e5e7eb; /* gray-100 */
  --color-bg-light: #ffffff; /* white */
  --color-bg-dark: #0a0a0a; /* nearly black */
}

[data-theme="light"] {
  --color-text: var(--color-text-light);
  --color-bg: var(--color-bg-light);
}

[data-theme="dark"] {
  --color-text: var(--color-text-dark);
  --color-bg: var(--color-bg-dark);
}

body {
  font-family: var(--font-sans);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}
